doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Hayrapet Sedrakyan - Business Card
    // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/freelancer.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body#page-top.index
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#page-top') Company Name
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.hidden
                            a(href='#page-top')
                        li.page-scroll
                            a(href='#portfolio') Portfolio
                        li.page-scroll
                            a(href='#about') About
                        li.page-scroll
                            a(href='#contact') Contact
                // /.navbar-collapse
            // /.container-fluid
        // Header
        header
            .container
                .row
                    .col-lg-12
                        img.img-responsive.photo(src='img/photo.jpg', alt='')
                        .intro-text
                            span.name Company Name
                            span.skills Speciality - Positions
        // Portfolio Grid Section
        section#portfolio
            .container
                .row
                    .col-lg-12.text-center
                        h2 Portfolio
                        hr
                .row
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-2x
                            img.img-responsive(src='img/portfolio/sculture1 Cropped.jpg', alt='')
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-2x
                            img.img-responsive(src='img/portfolio/sculture2 Cropped.jpg', alt='')
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-2x
                            img.img-responsive(src='img/portfolio/sculture3 Cropped.jpg', alt='')
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-2x
                            img.img-responsive(src='img/portfolio/sculture4 Cropped.jpg', alt='')
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-2x
                            img.img-responsive(src='img/portfolio/sculture5 Cropped.jpg', alt='')
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-2x
                            img.img-responsive(src='img/portfolio/sculture6 Cropped.jpg', alt='')
        // About Section
        section#about.success
            .container
                .row
                    .col-lg-12.text-center
                        h2 About
                        hr
                .row
                    .col-lg-4.col-lg-offset-2
                        p
                            | Fusce vel porta enim. Curabitur non auctor metus, a sollicitudin dui. Curabitur tempus euismod ornare. Quisque nec scelerisque nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a fermentum neque, a malesuada quam. Etiam quis lacinia erat.
                    .col-lg-4
                        p
                            | Fusce vel porta enim. Curabitur non auctor metus, a sollicitudin dui. Curabitur tempus euismod ornare. Quisque nec scelerisque nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis a fermentum neque, a malesuada quam. Etiam quis lacinia erat.
        // Contact Section
        section#contact
            .container
                .row
                    .col-lg-12.text-center
                        h2 Contact Me
                        hr
                .row
                    .col-lg-8.col-lg-offset-2
                        | Here are my contacts!
        // Footer
        footer.text-center
            iframe(width="100%", height="300", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBhosed48fee5J9V-w9rWTq0EIpPdhYntM&q=Moscow+Russia")
            .footer-below
                .container
                    .row
                        .col-lg-12
                            | Copyright &copy; Hayrapet Sedrakyan 2015
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-top.page-scroll.visible-xs.visble-sm
            a.btn.btn-primary(href='#page-top')
                i.fa.fa-chevron-up
        // Portfolio Modals
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            h2 Sculpture Title
                            hr
                            img.img-responsive.img-centered(src='img/portfolio/sculture1.jpg', alt='')
                            p
                                | Curabitur eu magna a ante ultricies fermentum. Aenean non malesuada odio. Curabitur odio enim, varius sed laoreet et, cursus eget diam. Nulla facilisi. Ut vulputate diam eu suscipit faucibus. Curabitur dapibus, erat ut vehicula maximus, neque ipsum efficitur nunc, sed pretium tortor orci vitae odio. Nullam quis molestie neque.
                            button.btn.btn-default(type='button', data-dismiss='modal')
                                i.fa.fa-times
                                | Close
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            .modal-body
                                h2 Sculpture Title
                                hr
                                img.img-responsive.img-centered(src='img/portfolio/sculture2.jpg', alt='')
                                p
                                    | Curabitur eu magna a ante ultricies fermentum. Aenean non malesuada odio. Curabitur odio enim, varius sed laoreet et, cursus eget diam. Nulla facilisi. Ut vulputate diam eu suscipit faucibus. Curabitur dapibus, erat ut vehicula maximus, neque ipsum efficitur nunc, sed pretium tortor orci vitae odio. Nullam quis molestie neque.
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    i.fa.fa-times
                                    | Close
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            .modal-body
                                h2 Sculpture Title
                                hr
                                img.img-responsive.img-centered(src='img/portfolio/sculture3.jpg', alt='')
                                p
                                    | Curabitur eu magna a ante ultricies fermentum. Aenean non malesuada odio. Curabitur odio enim, varius sed laoreet et, cursus eget diam. Nulla facilisi. Ut vulputate diam eu suscipit faucibus. Curabitur dapibus, erat ut vehicula maximus, neque ipsum efficitur nunc, sed pretium tortor orci vitae odio. Nullam quis molestie neque.
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    i.fa.fa-times
                                    | Close
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            .modal-body
                                h2 Sculpture Title
                                hr
                                img.img-responsive.img-centered(src='img/portfolio/sculture4.jpg', alt='')
                                p
                                    | Curabitur eu magna a ante ultricies fermentum. Aenean non malesuada odio. Curabitur odio enim, varius sed laoreet et, cursus eget diam. Nulla facilisi. Ut vulputate diam eu suscipit faucibus. Curabitur dapibus, erat ut vehicula maximus, neque ipsum efficitur nunc, sed pretium tortor orci vitae odio. Nullam quis molestie neque.
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    i.fa.fa-times
                                    | Close
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            .modal-body
                                h2 Sculpture Title
                                hr
                                img.img-responsive.img-centered(src='img/portfolio/sculture5.jpg', alt='')
                                p
                                    | Curabitur eu magna a ante ultricies fermentum. Aenean non malesuada odio. Curabitur odio enim, varius sed laoreet et, cursus eget diam. Nulla facilisi. Ut vulputate diam eu suscipit faucibus. Curabitur dapibus, erat ut vehicula maximus, neque ipsum efficitur nunc, sed pretium tortor orci vitae odio. Nullam quis molestie neque.
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    i.fa.fa-times
                                    | Close
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            .modal-body
                                h2 Sculpture Title
                                hr
                                img.img-responsive.img-centered(src='img/portfolio/sculture6.jpg', alt='')
                                p
                                    | Curabitur eu magna a ante ultricies fermentum. Aenean non malesuada odio. Curabitur odio enim, varius sed laoreet et, cursus eget diam. Nulla facilisi. Ut vulputate diam eu suscipit faucibus. Curabitur dapibus, erat ut vehicula maximus, neque ipsum efficitur nunc, sed pretium tortor orci vitae odio. Nullam quis molestie neque.
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    i.fa.fa-times
                                    | Close
        // jQuery
        script(src='js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='js/bootstrap.min.js')
        // Plugin JavaScript
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
        script(src='js/classie.js')
        script(src='js/cbpAnimatedHeader.js')
        // Contact Form JavaScript
        script(src='js/jqBootstrapValidation.js')
        script(src='js/contact_me.js')
        // Custom Theme JavaScript
        script(src='js/freelancer.js')
     